extends layout

block content
 .spacer
 .container
  .row
   .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    h1= title
    form(method='post', action='/categories/edit/#{category._id}')
     .form-group
      label Title:
      input.form-control(name='title', type='text' value='#{category.title}')
     .form-group
      label Description
      textarea.form-control(name='description', id='body') #{category.description}
       if description
        =description
     input.btn.btn-primary(name='submit',type='submit',value='Save') 
     a(class='btn btn-default' href='/manage/categories') Back
     a(class='btn btn-danger category-delete pull-right', data-category-id=category._id.toString(), data-csrf=locals._csrf) Delete