extends layout

block content
 .spacer
 .container
  .row
   .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    h1= title
    form(method='post', action='/articles/edit/#{article._id}')
     .form-group
      label Title:
      input.form-control(name='title', type='text' value='#{article.title}')
     .form-group
      label Subtitle:
      input.form-control(name='subtitle', type='text' value='#{article.subtitle}')
     .form-group
      label Category: 
      select.form-control(name='category')
       each category, i in categories
        - var select=null; if (category._id == article.category) select='selected';
          option(value=category._id, selected=select)= category.title
     .form-group
      label Author:
      input.form-control(name='author', type='text' value='#{article.author}')
     .form-group
      label Body
      textarea.form-control(name='body', id='article_body') #{article.body}
       if body
        =body
     input.btn.btn-primary(name='submit',type='submit',value='Save') 
     a(class='btn btn-default' href='/manage/articles') Back
     a(class='btn btn-danger article-delete pull-right', data-article-id=article._id.toString(), data-csrf=locals._csrf) Delete